@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Raleway:300,700|Open+Sans+Condensed:300,700);

$ds: "Droid Sans", Helvetica, Arial, sans-serif !default;
$raleway: "Raleway", Helvetica, Arial, sans-serif !default;
$open-sans: "Open Sans Condensed", Helvetica, Arial, sans-serif !default;