.navbar-header {
	position: relative;
}
.navbar-toggle {
	@include absolute(50%, 0);
	transform: translateY(-50%);
	.icon-bar {
		background-color: $teal !important;
	}
	&.collapsed .icon-bar {
		background-color: $white !important;
	}
	&:hover .icon-bar {
		background-color: $teal !important;
	}
}
.navbar-brand {
	font-family: $raleway;
	font-size: 3rem;
	line-height: 1;
}
#main-navigation {
	.navbar-nav {
		float: none;
		text-align: center;
		margin: 0;
		li {
			float: none;
			display: inline-block;
		}
	}
}

.navbar {
	border: 0;
}

.navbar-collapse {
	box-shadow: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background: $teal;
	color: $dark-blue;
}
.hero {
	text-align: center;
	background: $dark-blue;
	padding: 80px 0 40px;
	border-bottom: 5px solid $teal;
	h1,
	h2 {
		font-weight: 200;
	}
	h1 {
		color: $purple;
		font-size: 11rem;
	}
	h2 {
		color: $white;
	}
}
